<div class="row">
   <div class="col-md-8">
    <h3>Matching</h3>
    <% if @users.any? %>
     <hr>
    <div class="user_info">
      <% @users.each_with_index do |user, count| %>
      <div class="container">
          <% if user.id == current_user.id%>
            <h3>Yours</h3>
          <% end %>
         <%= link_to gravatar_for(user, size: 30), user %>
         <span><%= link_to user.name, user %></span>
         <br />
         <%= "||"%>
       </div>
        <div class="container">
            <%= link_to gravatar_for(user.match_user, size: 30), user.match_user %>
         <span><%= link_to user.match_user.name, user.match_user %></span>
          <hr>
       </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>